{% extends 'base.html.twig' %}

{% block title %}Nos auteurs présents{% endblock %}

{% block body %}
<h1>Les auteurs</h1>

    {% for author in authors %}
        {% if author.imageName %}
            <img src="{{ vich_uploader_asset(author, 'imageFile') }}" alt="">
        {% endif %}
        
        <h2>
            <a href="{{ path('author_show', {'id': author.id }) }} ">{{ author.name }} {{ author.forname }}</a>
        </h2>

      

    {% endfor %}

{% endblock %}
