{% extends 'base.html.twig' %}

{% block title %} Fiche Auteur - {{ author.name }} {{ author.forname }} {% endblock %}

{% block body %}
    <h1>{{ author.name }} {{ author.forname }}</h1>
        
    {% if author.description %}
        <h3>Biographie</h3>
        <p>
            {{ author.description|raw }}
        </p>
    {% endif %}

    <h3>Bibliographie</h3>
    <ul>
        {% for book in author.books %}
        <li>
            <a href="{{ path('book_show', {'id': book.id }) }}">
                {{ book.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}