{% extends 'base.html.twig' %}

{% block title %}Se connecter à votre compte{% endblock %}

{% block body %}
<form action="{{ path('security_login') }}" method="post">
    <input type="text" class="form-control" required name="_username" id="username">
    <input type="password" class="form-control" required name="_password" id="password">
    <button type="submit" class="btn btn-primary">Se connecter</button>
</form>
{% endblock %}