{% extends 'base.html.twig' %}

{% block title %}A propos - Book manager{% endblock %}

{% block body %}
<div class="container">
    <h1>A propos</h1>
    <p class="display-2">
        Book manager est un logiciel open source ...
    </p>
</div>

{% endblock %}