{% extends 'base.html.twig' %}

{% block title %}Accueil - Book manager{% endblock %}

{% block body %}
<div class="container">
    <h1>Book Manager</h1>
    <p class="display-2">
        Book manager vous permet de gerer votre fond de bibliotheque.
        Cet outils va vous permettre d'ajouter et de modifer vos livres, permettre de gerer vos abonnements.
    </p>
</div>

{% endblock %}