{% extends 'base.html.twig' %}

{% block title %}Liste de nos ouvrages{% endblock %}

{% block body %}
    {% for book in books %}
    <article>
        <img src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="">
        <a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a>
        
    </article>

    {% endfor %}

{% endblock %}