{% extends 'base.html.twig' %}

{% block title %} Fiche Livre - {{ book.title }} {% endblock %}

{% block body %}
    <img src="{{ vich_uploader_asset(book, 'imageFile')| imagine_filter('my_medium') }}" alt="couverture {{ book.title }}">
    <h1>{{ book.title }}</h1>
    <h2>Auteur</h2>
    <table border=1>
        <tr>
            <td>Auteur(s):</td>
            <td>
                {% for author in book.authors %}
                    <a href="{{ path('author_show', {'id': author.id}) }}">{{ author.name }} {{ author.forname }}</a>
                {%  endfor %}
            </td>
        </tr>
        <tr>
            <td>Editeur:</td>
            <td>
                <a href="{{ path('editor_show', {'id': book.editor.id}) }}">
                    {{ book.editor }}
                </a>
            </td>
        </tr>
    </table>
    
    <p> {{ book.abstract|raw }}</p>
{% endblock %}
