{% extends 'base.html.twig' %}

{% block title %}Liste des éditeurs{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des éditeurs</h1>

    {% for editor in editors %}
    <article>
        <a href="{{ path('editor_show', {'id': editor.id}) }}"> 
            <h2>{{ editor.name }}</h2>
        </a>
    </article>
    {% endfor %}

</div>
{% endblock %}