{% extends 'base.html.twig' %}

{% block title %}Page éditeur - {{ editor.name }}{% endblock %}

{% block body %}
<div class="container">
    <h1>
        {{ editor.name }}
    </h1>

    <h2>Plus d'info</h2>
    <p>
        {{ editor.description }}
    </p>

    <section>
        <h2>Livres</h2>
        {% for book in editor.books %}
        <div>
            <a href="{{ path('book_show', {'id': book.editor.id}) }}">
                <h4>{{ book.title }}</h4>
            </a>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}